.atlantic-demo-grid {
    display: grid;

    width: auto;
    height: 100%;

    align-items: stretch;

    grid-template-columns: 60% auto;
    grid-template-rows: auto;
    grid-template-areas: "inputs results";
}

::ng-deep {
    .mat-form-field-appearance-outline .mat-form-field-outline {
        background-color: whitesmoke;
        border-radius: 0.4rem;
     }
}

.result-item {
    display: flex;
    color: black;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}

.message-get {
    display: flex;
    align-items: center;
    .message-button {
        background-color: #000000;
        min-width: 150px;
        margin: 30px;
        text-align: center;
        padding: 10px;
        color: #009879;
        border-radius: 5px;
    }
    .message-button:hover {
        cursor: pointer;
    }
}

.grid-inputs {
    grid-area: inputs;
    display: flex;
    justify-content: center;
    .input-card {
        margin-top: 10%;
        max-width: 700px;
        width: 100%;
        border-radius: 5px 5px 0 0;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        overflow: hidden;
        background-color: #fff;
        max-height: 600px;
        padding: 0;
        .success-element {
            max-width: 50%;
            margin: auto;
            text-align: center;
        }
        .spinner-element {
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #009879;
        }
        .call-function-element {
            max-width: 50%;
            margin: auto;
            text-align: center;
        }
        .buttons {
            display: flex;
            justify-content: center;
            .input-button {
                background-color: #009879;
                min-width: 150px;
                margin: 30px;
                text-align: center;
                padding: 10px;
                color: #ffffff;
                border-radius: 5px;
            }
            .input-button:hover {
                cursor: pointer;
            }
        }
        .input-title {
            background-color: #009879;
            color: #ffffff;
            text-align: left;
            padding: 12px 15px;
        }
        .input-card .input-title {
            font-size: 25px;
            font-weight: 500;
            position: relative;
        }
        .input-card .input-title::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 3px;
            width: 30px;
            background: cornflowerblue;
        }
        .input-form-container {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            .input-element {
                margin: auto;
                color: black;
                label {
                    display: inline-block;
                    width: 100px;
                    min-width: 100px;
                    font-weight: 500;
                }
            }
            mat-spinner {
                color: #009879;
            }
            #parameter-inputs.input-element {
                display: inline-block;
                mat-form-field {
                    max-width: 250px;
                    margin: 5px 20px;
                }
                h2 {
                    min-width: 250px;
                    display: inline-block;
                    text-align: center;
                }
            }
        }
    }
}

.grid-results {
    grid-area: results;
    background-color: #009879;
    padding-left: 10%;
    padding-right: 10%;
    // margin: 50px;
    // border: 4px solid orange;
    // border-radius: 20px;
    // box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    //             rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    //             rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    //             rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    //             rgba(0, 0, 0, 0.09) 0px -3px 5px;

    // display: flex;
    // justify-content: flex-start;
    // align-items: center;
    // flex-direction: column;

    .state-card-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .state-card {
            width: 100%;
            padding: 0;
            border-radius: 5px 5px 0 0;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
            overflow: hidden;
            background-color: #fff;
            max-height: 600px;
            .state-title {
                background-color: black;
                color: #009879;
                text-align: left;
                padding: 12px 15px;
            }
            p {
                margin-left: 10px;
            }
        }
        #title {
            color: #ffffff;
        }
    }

    // mat-card {
    //     margin: 3%;
    //     width: 80%;
    //     height: 7vh;
    //     // background-color: slateblue;

    //     border-radius: 20px;
    //     box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    //                 rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    //                 rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    //                 rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    //                 rgba(0, 0, 0, 0.09) 0px -3px 5px;
    // }
}