node_modules
.vscode
/packages/angular/src/environments/*
/packages/angular/src/app/artifacts/*

# CCIP-EA
ccip-ea/packages/**/*.zip
ccip-ea/dist
ccip-ea/**/tsconfig.tsbuildinfo
ccip-ea/.DS_Store
ccip-ea/.env

# Yarn 2
ccip-ea/.yarn
ccip-ea/.yarn/*
ccip-ea/!.yarn/cache
ccip-ea/!.yarn/patches
ccip-ea/!.yarn/plugins
ccip-ea/!.yarn/releases
ccip-ea/!.yarn/sdks
ccip-ea/!.yarn/versions
ccip-ea/node_modules
ccip-ea/*generated*
ccip-ea/vendor