node_modules
.vscode
/packages/angular/src/environments/*
/packages/angular/src/app/artifacts/*

# CCIP-EA
ccip-ea/packages/**/*.zip
ccip-ea/dist
ccip-ea/**/tsconfig.tsbuildinfo
ccip-ea/.DS_Store
ccip-ea/.env

# Yarn 2
.yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules
*generated*
vendor