.eth-stablecoin-grid {
    display: grid;

    width: auto;
    height: 100%;

    align-items: stretch;

    grid-template-columns: 60% auto;
    grid-template-rows: auto;
    grid-template-areas: "inputs results";
}

.grid-inputs {
    grid-area: inputs;
}

.grid-results {
    grid-area: results;
    background-color: slateblue;
    margin: 50px;
    border: 4px solid orange;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
                rgba(0, 0, 0, 0.12) 0px -12px 30px, 
                rgba(0, 0, 0, 0.12) 0px 4px 6px, 
                rgba(0, 0, 0, 0.17) 0px 12px 13px, 
                rgba(0, 0, 0, 0.09) 0px -3px 5px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    mat-card {
        margin: 3%;
        width: 80%;
        height: 7vh;
        // background-color: slateblue;

        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
                    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
                    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
                    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
                    rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
}