.page-title {
    padding-left: 25%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 75px;
    font-weight: 600;
    font-size: 60px;
    background-color: #009879;
}

.atlantic-overview-grid {
    display: grid;

    width: auto;
    height: 100%;

    align-items: stretch;

    grid-template-columns: 40% auto;
    grid-template-rows: auto;
    grid-template-areas: "inputs results";
}


.grid-inputs {
    grid-area: inputs;
    display: flex;
    justify-content: center;
    .contents-menu{
        margin-left: 300px;
        .contents-element {
            margin: 20px 0;
        }
    }
}

.grid-results {
    grid-area: results;
    padding-right: 10%;
    .section-header {
        font-weight: 600;
        font-size: 45px;
    }
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}